NEXT_PUBLIC_ONBOARDING_SURVEY_URL=https://survey.win.kit.edu/index.php/462485?lang=en
NEXT_PUBLIC_FINAL_SURVEY_URL=https://survey.win.kit.edu/index.php/628794?lang=en
PAYOUT_URL=https://example.com/payout

# Normally empty because Next.js/Apache proxy these paths to the API server.
# NEXT_PUBLIC_API_URL=http://127.0.0.1:3000
